* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
    /* transition: 0.1s ease-in-out; */
    /* overflow: hidden; */
    /* border: 2px solid blue; */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

:root {
    --background-color: rgb(122, 51, 150);
    --player-one-color: indianred;
    --player-two-color: yellow;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--background-color);
}

.remove-pointer-events {
    pointer-events: none;
}

#container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 580px 1fr;
    grid-template-rows: auto;
    background-color: var(--background-color);
}

.top-section {
    grid-column: 1/5;
    background-color: rgb(231, 144, 144);
    height: 100px;
}

.game-layout {
    position: relative;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 10%;
    box-shadow: 0 10px black;
    background-color: white;
}

.players-container {
    height: 500px;
    display: flex;
    align-items: center;
}

.players-container-one {
    justify-content: flex-end;
}

.players-container-two {
    justify-content: flex-start;
}

.hole {
    position: relative;
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 50%;
    transition: background-color 0.1s ease-in-out;
}

.hole:hover {
    outline: 2px solid rgb(103, 105, 255) !important;
    transition: none !important;
    cursor: pointer;
}

.inside-the-hole {
    position: absolute;
    width: 62px;
    height: 55px;
    border-radius: 50%;
    background-color: var(--background-color);
    top: 13px;
    left: 4px;
    transition: background-color 0.1s ease-in-out;
}

.player-one,
.player-two {
    position: relative;
    width: 150px;
    height: 200px;
    border: 2px solid black;
    border-radius: 20%;
    box-shadow: 0 10px black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
}

.player-one {
    margin-right: 2em;
}

.player-two {
    margin-left: 2em;
}

.player-number {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.score {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.smiley {
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid black;
    top: -32px;
    left: 43px;
    box-shadow: 0 5px black;
}

.smiley-one {
    background-color: indianred;
}

.smiley-two {
    background-color: yellow;
}

.eyes {
    position: absolute;
    width: 5px;
    height: 5px;
    background-color: black;
}

.left-eye-one {
    top: 20px;
    left: 40px;
}

.rigth-eye-one {
    top: 20px;
    left: 28px;
}

.smiley-mouth {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border-top: 2px solid transparent;
    border-bottom: 3px solid black;
    border-left: 2px solid transparent;
    border-right: 3px solid black;
    rotate: 45deg;
}

.smiley-mouth-one {
    top: 20px;
    left: 22px;
}

.left-eye-two {
    top: 20px;
    right: 40px;
}

.right-eye-two {
    top: 20px;
    right: 28px;
}

.smiley-mouth-two {
    top: 20px;
    right: 22px;
}

.timer-container {
    position: absolute;
    height: 150px;
    width: 150px;
    z-index: 999;
    bottom: -95px;
    display: flex;
    flex-wrap: wrap;
}

.top-part-of-timer {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 50px;
    border-left: 72px solid transparent;
    border-right: 72px solid transparent;
    border-top: 20px solid transparent;
    border-bottom: 50px solid indianred;
    translate: 0 7px;
}

.bottom-part-of-timer {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100px;
    border: 2px solid black;
    border-top: 0;
    box-shadow: 0 10px black;
    border-radius: 10%;
    background-color: indianred;
    display: grid;
    grid-template-columns: 1fr;
}

.player-turn-div {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: white;
}

.timer-count-div {
    text-align: center;
    font-size: 40px;
    color: white;
}

.timer-count {
    font-size: 50px;
    color: white;
}

.timer-lines {
    position: absolute;
    height: 2px;
    width: 87px;
    background-color: black;
    top: 24px;
}

.right-timer-line {
    rotate: 35deg;
    left: -2px;
}

.left-timer-line {
    rotate: 145deg;
    right: -2px;
}

.middle-timer-line {
    position: absolute;
    height: 2px;
    width: 8px;
    background-color: black;
    top: -0.8px;
    left: -1px;
    border-radius: 50%;
}

.ending-dialog {
    position: fixed;
    /* background-color: rgb(241, 202, 153); */
    background-color: rgb(95, 204, 247);
    border-radius: 20px;
}

.animate-margin-down {
    animation: animateMarginDown 0.6s ease-in-out forwards;
}

.animate-margin-up {
    animation: animateMarginUp 0.6s ease-in-out forwards;
}

.ending-dialog h2 {
    text-align: center;
}

.play-again-button-div {
    text-align: center;
}

.name-input {
    width: 80%;
    font-size: 20px;
    text-align: center;
    border: 0;
}

.name-input:focus {
    outline: 0;
}

@keyframes animateMarginDown {
    0% {
        top: -200vh;
    }

    70% {
        top: calc(50vh - 25%);
    }

    100% {
        top: calc(50vh - 50%);
    }
}

@keyframes animateMarginUp {
    0% {
        top: calc(50vh - 50%);
    }

    70% {
        top: calc(50vh - 25%);
    }

    100% {
        top: -200vh;
    }
}

#play-again-button {
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    background-color: rgb(0, 0, 0);
    transition: scale 0.1s ease-in;
}

#play-again-button:hover {
    scale: 1.1;
}

#play-again-button:active {
    scale: 1;
}

@media (width < 950px) {
    #container {
        grid-template-columns: 1fr 1fr 1fr;
        width: 600px;
        margin: 0 auto;
    }

    .players-container {
        scale: 0.7;
        height: 200px;
    }

    .players-container-one {
        grid-column: 1/2;
        grid-row: 1/1;
    }

    .top-section {
        grid-column: 2/3;
    }

    .players-container-two {
        grid-column: 3/4;
        grid-row: 1/1;
    }

    .game-layout {
        grid-column: 1/4;
    }
}

@media (width < 610px) {
    #container {
        width: 370px;
    }

    .game-layout {
        scale: 1;
    }

    .hole {
        width: 40px;
        height: 40px;
    }

    .inside-the-hole {
        width: 36px;
        height: 37px;
        top: 2px;
        left: 2px;
    }
}